<%= form_for(@contact) do |f| %>
  <%#= f.error_notification %>

  <div class="row form">
      <div class="col-sm-6 row-col">
          <div class="box">
            <%= f.text_field :name, class: "name form-control", placeholder: "Nome" %>
            <%= f.text_field :email, class: "mail form-control", placeholder: "Indirizzo mail" %>
            <%= f.text_field :phone, class: "phone form-control", placeholder: "Telefono" %>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="box">
            <%= f.text_area :message, class: "form-control", placeholder: "Scrivi il tuo messaggio..." %>
          </div>
      </div>
  </div>

  <div class="row submit">
      <div class="col-md-5 box">
          <label class="checkbox">
              <input type="checkbox"> Sign up for newsletter
          </label>
      </div>
      <div class="col-md-3 right">
        <%= f.submit "Invia messaggio!" %>
      </div>
  </div>

<% end %>
